In [30]:
import pandas as pd 
import numpy as np
import math

In [21]:
teamsA = pd.read_csv("../data/Tournament Matchups.csv")
teamsB = pd.read_csv("../data/Tournament Matchups.csv")
winpercent =

In [34]:
teamsA['gameID'] = teamsA.index
teamsA['gameID'] = teamsA['gameID'].apply(lambda x: math.floor(x/2))
teamsA = teamsA[~teamsA.duplicated('gameID', keep='first')]

teamsB['gameID'] = teamsB.index
teamsB['gameID'] = teamsB['gameID'].apply(lambda x: math.floor(x/2))
teamsB = teamsB[~teamsB.duplicated('gameID', keep='last')]

In [44]:
matches = teamsA.merge(teamsB, how = 'inner', on = 'gameID')

In [48]:
matches

,YEAR_x,BY YEAR NO_x,BY ROUND NO_x,TEAM NO_x,TEAM_x,SEED_x,ROUND_x,CURRENT ROUND_x,SCORE_x,gameID,YEAR_y,BY YEAR NO_y,BY ROUND NO_y,TEAM NO_y,TEAM_y,SEED_y,ROUND_y,CURRENT ROUND_y,SCORE_y
0,2023,1888,1888,1011,Alabama,1,16,64,96.0,74,2023,1887,1887,955,Texas A&M Corpus Chris,16,64,64,75.0
1,2023,1886,1886,979,Maryland,8,32,64,67.0,75,2023,1885,1885,945,West Virginia,9,64,64,65.0
2,2023,1884,1884,961,San Diego St.,5,2,64,63.0,76,2023,1883,1883,1003,College of Charleston,12,64,64,57.0
3,2023,1882,1882,946,Virginia,4,64,64,67.0,77,2023,1881,1881,996,Furman,13,32,64,68.0
4,2023,1880,1880,1001,Creighton,6,8,64,72.0,78,2023,1879,1879,971,North Carolina St.,11,64,64,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2008,10,94,37,Memphis,1,2,8,85.0,1013,2008,9,93,15,Texas,2,8,8,67.0
940,2008,8,92,13,UCLA,1,4,8,76.0,1014,2008,7,91,1,Xavier,3,8,8,57.0
941,2008,6,34,31,North Carolina,1,4,4,66.0,1015,2008,5,33,43,Kansas,1,1,4,84.0
942,2008,4,32,37,Memphis,1,2,4,78.0,1016,2008,3,31,13,UCLA,1,4,4,63.0
943,2008,2,2,43,Kansas,1,1,2,75.0,1017,2008,1,1,37,Memphis,1,2,2,68.0